/*CSS Reset*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

nav ul, section, footer {
	padding-left: 10%;
	padding-right: 10%;
}

/* ----- NAVBAR ----- */
nav {
	padding: 10px;
	border-bottom: 1px solid lightgray;
	position: sticky;
	top: 0;
	background-color: white;
	z-index: 2;
}

nav > ul {
	list-style-type: none;
}

nav .nav, nav .nav-logo {
	display: inline;
	margin: 0.3rem;
}

#logo {
	height: 50px;
}

.nav {
	padding: 0.8rem;
}

.right-nav{
	padding-top: 3px;
	padding-bottom: 2px;
	float: right;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.2rem;
	font-weight: normal;

}

.nav:hover {
	background-color: gray;
	color: white;
	border-radius: 25px;
}

.tuitt-button:hover {
	background-color: #9c144a;
}

.tuitt-button {
	font-weight: bold;
	border-radius: 45px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 14px;
	padding-bottom: 11px;
	font-size: 1rem;
	background-color: #c2195b;
	color: white;
	border-color: rgba(0, 0, 0, 0.0);
}


/* ----- LANDING PAGE ----- */
#bg-image {
	background-image: url(./img/background-image.jpg);
	height: 55vh;
	background-position: center;
	position: relative;
}

.front-bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 55vh;
	background: rgba(0, 0, 0, 0.55);
}

.container {
	margin: 0;
	padding-left: 20%;
	padding-right: 13%;
	color: white;
}

.title, .subtitle {
	text-align: right;
	margin-left: auto;
}


.title {
	margin-top: 2rem;
	font-size: 3rem;
	width: 55%;
	padding-bottom: 2rem;
}

.subtitle {
	font-family: 'Rajdhani', sans-serif;
	font-size: 1.8rem;
	font-weight: normal;
	width: 45%;
	padding-bottom: 2rem;
}

.apply-button {
	float: right;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 20px;
	padding: 1rem 3.5rem;

	border-radius: 45px;
	background-color: #c2195b;
	color: white;
	border-color: rgba(0, 0, 0, 0.0);
}

.apply-button:hover {
	background-color: #9c144a;
}

/* ----- INTRO ----- */

.intro {
	padding: 10rem;
	text-align: center;
}

.title-2 {
	padding-bottom: 7rem;
	font-size: 2.5rem;
}

.intro-description {
	text-align: left;
	padding-left: 10%;
	padding-right: 10%;
	padding-bottom: 3rem;
	font-family: 'Rajdhani', sans-serif;
	font-size: 1.5rem;
}

.pre-footer {
	padding: 10rem;
	text-align: center;
	background-color: #f6fbff;
}

.title-2 {
	padding-bottom: 7rem;
	text-align: center;
	font-size: 2.5rem;
}

.prefooter-description {
	padding-left: 10%;
	padding-right: 10%;
	padding-bottom: 3rem;
	font-family: 'Rajdhani', sans-serif;
	font-size: 1.5rem;
}

.book-button {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 20px;
	padding: 1rem 3.5rem;

	border-radius: 45px;
	background-color: rgb(32, 76, 108);
	color: white;
	border-color: rgba(0, 0, 0, 0.0);
}

.book-button:hover {
	background-color: #17374f;
}

/* ----- FOOTER ----- */
footer {
	padding: 5px;
	text-align: center;
	font-family: 'Rajdhani', sans-serif;
	font-size: 1.2rem;
}

footer > span {
	margin: 1.2rem;
}

span .separator {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
}